@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Graphik LC TT';
    src: url('./assets/Fonts/GraphikLCG-Regular.eot');
    src: local('☺'), url('./assets/Fonts/GraphikLCG-Regular.woff') format('woff'), url('./assets/Fonts/GraphikLCG-Regular.ttf') format('truetype'), url('./assets/Fonts/GraphikLCG-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC TT';
    src: url('./assets/Fonts/GraphikLCG-Semibold.eot');
    src: local('☺'), url('./assets/Fonts/GraphikLCG-Semibold.woff') format('woff'), url('./assets/Fonts/GraphikLCG-Semibold.ttf') format('truetype'), url('./assets/Fonts/GraphikLCG-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

:root {
    --fs-lg: 25px;
    --fs-normal: 20px;
    --fs-sm: 18px;
    --fs-exsm: 14px;
    --fs-h1: 65px;
    --fs-h3: 50px;
    --fs-h4: 30px;
    --fs-h5: 25px;
    --fs-h6: 30px;
    /* container sizes */
    --container-space: 10px;
}



/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

li {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
}

/* common styles */

body {
    font-family: 'Graphik LC TT';
    margin: 0;
}

.container {
    max-width: 1287px;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-space);
}

.container-large {
    max-width: 1338px;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-space);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


/* typography */

h1 {
    font-weight: 600;
    font-size: var(--fs-h1);
    line-height: 70px;
}

h3 {
    font-weight: 600;
    font-size: var(--fs-h3);
    line-height: 60px;
}

h4 {
    font-weight: 600;
    font-size: var(--fs-h3);
    line-height: 40px;
}

h5 {
    font-weight: 600;
    font-size: var(--fs-h5);
    line-height: 35px;
    text-align: center;
}

h6 {
    font-weight: 400;
    font-size: var(--fs-h6);
    line-height: 40px;
}

p {
    font-weight: 400;
    font-size: var(--fs-lg);
    line-height: 35px;
}

.p2 {
    font-weight: 400;
    font-size: var(--fs-normal);
    line-height: 30px;
}

.p3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fs-exsm);
    line-height: 30px;
}

.p4 {
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: 25px;
    text-align: center;
}

span.underline {
    text-decoration: underline;
}

span.blue {
    color: #000088;
}

span.blue1 {
    color: #0000FF;
}

span.green {
    color: #009900;
    margin: 5px;
}

span.violet {
    color: #9876AA;
    margin-right: 40px;
}

.learn {
    font-weight: 400;
    font-size: var(--fs-normal);
    line-height: 30px;
    text-decoration-line: underline;
}

/* buttons */
button {
    border-style: none;
    cursor: pointer;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    border-radius: 0px;
    cursor: pointer;
    min-height: 45px;
    min-width: 160px;
    text-align: center;
}

.btn--white {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 9px 30px;
}

.btn--orange {
    background: #FF6336;
    color: #FFFFFF;
    padding: 10px 20px;
}

.btn--black {
    background: #000000;
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0px 40px 0px 40px;
    margin-top: 54px;
}

.btn--top {
    line-height: 25px;
}

.page-wrap {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}



@media (max-width:1260px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width:1024px) {
    .container {
        max-width: 750px;
    }

    img {
        max-width: 80%;
    }

    h1 {
        font-size: var(--fs-h3);
    }

    p {
        font-size: var(--fs-normal);
    }

    h3 {
        font-size: var(--fs-h4);
    }

    h4 {
        font-size: var(--fs-h5);
    }

    h6 {
        font-size: var(--fs-lg);
    }
}

@media (max-width:768px) {
    .container {
        max-width: 450px;
    }

    img {
        max-width: 70%;
    }

    h1 {
        font-size: var(--fs-h4);
    }

    p {
        font-size: var(--fs-sm);
    }

    h3 {
        font-size: var(--fs-h5);
    }

    h4 {
        font-size: var(--fs-h6);
    }

    h6 {
        font-size: var(--fs-normal);
    }
}

@media (max-width:426px) {
    .container {
        max-width: 400px;
    }

    img {
        max-width: 60%;
    }

    h1 {
        font-size: var(--fs-h5);
    }

    p {
        font-size: var(--fs-exsm);
    }

    h3 {
        font-size: var(--fs-h6);
    }

    h4 {
        font-size: var(--fs-lg);
    }

    h6 {
        font-size: var(--fs-sm);
    }
}

/* header */

.header {
    flex-direction: row;
    margin: 31px 0px 0px 0px;
    padding: 0px 51px 24px 51px;
    gap: 51px;
    border-bottom: 1px solid #CCCCCC;
}

.top-links {
    gap: 50px;
}

.top-links>a {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.top-buttons {
    gap: 10px;
}

/* main */
.main {
    margin-top: 10px
}

.main-content {
    margin: 87px 10px 87px 10px;
}

.section1 {
    max-width: 540px;
    gap: 51px;
}

.section1-btns {
    margin-bottom: 24px;
}

.section1>a {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.bcg-image>img {
    width: 100%;
    max-width: 700px;
}

.orangesection {
    width: 100%;
    background: #FF9C7D;
    padding: 5px;
}

.orangesection-block1 {
    text-align: center;
    max-width: 720px;
    padding-top: 104px;
    padding-bottom: 85px;
}

.orangesection-block1>a {
    font-weight: 600;
    font-size: var(--fs-h3);
    line-height: 60px;
}

.orangesection-block2 {
    padding-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.blockleft {
    padding-top: 90px;
}

.left {
    max-width: 540px;
    gap: 30px;
    margin-right: 90px;
}

.start {
    font-weight: 600;
    font-size: var(--fs-normal);
    line-height: 30px;
}

.blockright {
    padding-top: 250px;
    padding-bottom: 160px;
}

.right {
    max-width: 540px;
    gap: 30px;
    margin-left: 90px;
}

.leftimage {
    background: #FFF8E4;
    border-radius: 0px;
    max-width: 630px;
    max-height: 630px;
    padding: 119px 66px 118px;
}

.imageinside {
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
    border-radius: 4px;
    padding: 30px;
}

#php {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    margin-left: 40px;
}

.indent {
    margin-left: 30px;
}

.section3 {
    background: #FFF8E4;
    justify-content: center;
    width: 100%;
}

.localize {
    margin-top: 120px;
    text-align: center;
}

.cards {
    margin-top: 70px;
    gap: 120px;
    margin-bottom: 150px;
}

.card {
    max-width: 330px;
}

.section4 {
    background: #FFFFFF;
    width: 100%;
}

.boost {
    margin-top: 154px;
}

.cards2 {
    margin-top: 25px;
    margin-bottom: 217px;
}

.card2 {
    max-width: 420px;
    gap: 20px;
}

.revolut {
    background: #C9E8F2;
    padding: 5px;
    width: 100%;
}

.cards3 {
    gap: 59px;
    margin-top: 53px;
    margin-bottom: 105px;
}

.card3 {
    max-width: 855px;
}

.chief {
    display: flex;
    flex-direction: column;
}

.chief>img {
    max-width: 115px;
}

.chief>a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.cake {
    background: #DABC98;
    padding: 5px;
    width: 100%;
}

.content {
    margin-top: 80px;
    margin-bottom: 84px;
    gap: 124px;
}

#cake {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    max-width: 470px;
}

.part1 {
    gap: 67px;
}

.part2 {
    gap: 70px;
    border-left: 1px solid black;
    padding: 20px 0px 20px 70px;
}

.worktools {
    margin-top: 165px;
    margin-bottom: 162px;
    gap: 25px;
    padding: 5px;
}

.toolsimg {
    max-width: 100%;
}

.toolsimg>img {
    width: 100%;
}

.tryitfree {
    margin-top: 119px;
    margin-bottom: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tryitfree>a {
    max-width: 800px;
    text-align: center;
}

/* footer */

.footer {
    background: #EEEEEE;
    width: 100%;
    padding: 5px;
}

.footertop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 92px;
    padding-bottom: 95px;
    border-bottom: 1px solid black;
}

.footercolumn {
    gap: 20px;
    max-width: 300px;
}

#case {
    font-size: 40px;
}

#smallspec {
    max-width: 80px;
}

.footercards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 34px;
}

.footercard {
    align-items: baseline;
    gap: 21px;
    min-width: 175px;
}

/* bottom */
.footerbottom {
    margin-top: 47px;
    margin-bottom: 48px;
}

.bottomfont {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.bottomleft {
    max-width: 400px;
    gap: 14px;
}

.bottomright {

    max-width: 100px;
}