@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Graphik LC TT';
    src: url('./assets/Fonts/GraphikLCG-Regular.eot');
    src: local('☺'), url('./assets/Fonts/GraphikLCG-Regular.woff') format('woff'), url('./assets/Fonts/GraphikLCG-Regular.ttf') format('truetype'), url('./assets/Fonts/GraphikLCG-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC TT';
    src: url('./assets/Fonts/GraphikLCG-Semibold.eot');
    src: local('☺'), url('./assets/Fonts/GraphikLCG-Semibold.woff') format('woff'), url('./assets/Fonts/GraphikLCG-Semibold.ttf') format('truetype'), url('./assets/Fonts/GraphikLCG-Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
}

button {
    border-style: none;
    cursor: pointer;
}

h1 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

h3 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

h4 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

h5 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

h6 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

p {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}

.p2 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.p3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.p4 {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

span.underline {
    text-decoration: underline;
}

span.blue {
    color: #000088;
}

span.blue1 {
    color: #0000FF;
}

span.green {
    color: #009900;
    margin: 5px;
}

span.violet {
    color: #9876AA;
    margin-right: 40px;
}

.learn {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}

.whitebtn {
    background: white;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    min-height: 45px;
    min-width: 120px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.orangebtn {
    background: #FF6336;
    border-radius: 0px;
    min-height: 45px;
    min-width: 120px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

.blackbtn {
    background: #000000;
    border-radius: 0px;
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 40px 0px 40px;
    margin-top: 54px;
}

.page-wrap {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1287px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.container2 {
    max-width: 695px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 31px 0px 0px 0px;
    padding: 0px 51px 24px 51px;
    gap: 51px;
    border-bottom: 1px solid #CCCCCC;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.top-links>a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.top-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.main {
    margin-top: 10px
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 87px 10px 87px 10px;
}

.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 540px;
    gap: 51px;
}

.section1-btns {
    margin-bottom: 24px;
}

.section1>a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.bcg-image {
    display: flex;
    max-width: 700px;
}

.bcg-image>img {
    width: 100%;
}

.orangesection {
    width: 100%;
    background: #FF9C7D;
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.orangesection-block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 720px;
    padding-top: 104px;
}

.orangesection-block1>a {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.orangesection-block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 103px;
    padding-bottom: 104px;
}

.blockleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 90px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 540px;
    gap: 30px;
    margin-right: 90px;
}

.start {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.blockright {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 250px;
    padding-bottom: 160px;
}

.right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 540px;
    gap: 30px;
    margin-left: 90px;
}

.leftimage {
    display: flex;
    flex-direction: column;
    background: #FFF8E4;
    border-radius: 0px;
    max-width: 630px;
    max-height: 630px;
    padding: 119px 66px 118px;
}

.imageinside {
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
    border-radius: 4px;
    padding: 30px;
}

#php {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    margin-left: 40px;
}

.indent {
    margin-left: 30px;
}

.section3 {
    background: #FFF8E4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.localize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    flex-direction: column;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 120px;
    margin-bottom: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 330px;
    gap: 20px;
}

.section4 {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.boost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 154px;
    flex-direction: column;
    flex-wrap: wrap;
}

.cards2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 217px;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
    gap: 20px;
}

.revolut {
    background: #C9E8F2;
}

.cards3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 59px;
    margin-top: 53px;
    margin-bottom: 105px;
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 855px;
}

.chief {
    display: flex;
    flex-direction: column;
}

.chief>img {
    max-width: 115px;
}

.chief>a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.cake {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #DABC98;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 84px;
    gap: 124px;
}

#cake {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    max-width: 470px;
}

.part1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 67px;
    align-items: center;
}

.part2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    padding: 20px 0px 20px 70px;
}

.worktools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
    margin-bottom: 162px;
    gap: 25px;
}

.toolsimg {
    display: flex;
    max-width: 100%;
}

.toolsimg>img {
    width: 100%;
}

.worktools>button {
    padding: 0px 20px 0px 20px;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 119px;
    margin-bottom: 161px;
}

.footer {
    background: #EEEEEE;
}

.footertop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 92px;
    padding-bottom: 95px;
    border-bottom: 1px solid black;
}

.footercolumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

#case {
    font-size: 40px;
}

#smallspec {
    max-width: 80px;
}

.footercards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;
    margin-left: 140px;
}

.footercard {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 21px;
    min-width: 175px;
}

.footerbottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
    margin-bottom: 48px;
}

.bottomfont {
    font-family: 'Graphik LC TT';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.bottomleft {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    align-items: center;
    gap: 14px;
}

.bottomright {
    display: flex;
    align-items: center;
    max-width: 100px;
}